
body {
    font-family: 'Noto Serif', serif;
    line-height: 1.7;
    display: block;
    background-color: #fff5cc;
}
div {
    margin: 0 auto;
    padding: 20px;
    width: 50%;
    text-align: center;
}
h1 {
    font-size: 20px;
}
span {
    color: #ff1a1a;
}
a {
    color:#ff1a1a;
    padding: 5px;
}
a:hover {
    color: white;
    background-color: #ff1a1a;
}